body {
  background:url(https://w0.peakpx.com/wallpaper/159/982/HD-wallpaper-weather-colors-art-fantasy-3d-colors-rainbow-abstract-weather.jpg);
  height:100vh;
  background-repeat:no-repeat;
  background-size:cover; 
}

.container{
  display:flex;
  justify-content: center;
  align-items:center;
  height:100vh;
  flex-direction:column;
}

.weather-box {
  border: 3px solid white;
  /* color:white; */
  padding: 50px 120px;
  border-radius: 30px;
  background-color: lightskyblue;
  opacity: 97%;
  margin-bottom: 5px;
}

.button-group button {
  margin-right: 3px; /* 각 버튼 간의 간격 */
}